<app-pages-hero></app-pages-hero>
<section class="cart-page">
  <div class="legend">
      <h3>Product</h3>
      <h3 class="price">Price</h3>
      <h3 class="quantity">Quantity</h3>
      <h3 class="subtotal">Subtotal</h3>
  </div>
  <div class="charateristics">
      <img src="sofa-images.png" alt="sofa-img" class="image">
      <div class="type-of-product">
          <p>Asgaard sofa</p>
      </div>
      <div class="price">
          <p>Rs. 250,000.00</p>
      </div>
      <form action="">
          <input type="number" name="quantity" id="quantity" class="quantity-box">
      </form>
      <div class="subtotal-price">
          <p>Rs. 250,000.00</p>
      </div>
      <div class="trash-can">
          <img src="trash-can-img.svg" alt="trash-can-img">
      </div>
  </div>
</section>
