.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 30px;
  .navbar {
    display: flex;
    gap: 75px;
    a {
      color: var(--clr-black);
      text-decoration: none;
      font-weight: var(--fw-medium);
      cursor: pointer;
    }
  }
  .icons-wrapper{
    display: flex;
    gap: 45px;
  } 
}