<footer class="footer">
  <div class="footer-content">
    <div class="column location">
      <div class="title-wrapper">
        <span class="title">V</span>
      </div>
      <p class="address">400 University Drive Suite 200 Coral <br> Gables, <br> FL 33134 USA</p>
    </div>
    <div class="column nav-wrapper">
      <div class="title-wrapper">
        <span class="column-title">Links</span>
      </div>
      <nav class="footer-nav">
        <a href="#">Home</a>
        <a href="#">Shop</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </nav>
    </div>
    <div class="column help">
      <div class="title-wrapper">
        <span class="help-title">Help</span>
      </div>
      <div class="navigation">
        <a href="">Payment Options</a>
        <a href="">Returns</a>
        <a href="">Privacy Policies</a>
      </div>
      
    </div>
    <div class="column newsletter">
      <div class="title-wrapper">
        <span class="newsletter-title">Newsletter</span>
      </div>
      <div class="newsletter-form">
        <form action="post">
          <div class="form-control">
            <input type="email" placeholder="Enter your Email Adress">
            <button type="submit">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="copyright">
    <span class="copyright-text">2023 furino. All rights reverved</span>
  </div>
</footer>