<section class="quality-wrapped">
  <div class="quality-icon-text">
      <img src="assets/quality-icon.svg" alt="quality-icon">
      <div class="title-description">
          <h3 class="heading-title">High Quality</h3>
          <p class="description">crafted from top materials</p>
  </div>
  </div>
  <div class="quality-icon-text">
      <img src="assets/warranty-icon.svg" alt="warranty-icon">
      <div class="title-description">
          <h3 class="heading-title">Warranty Protection</h3>
          <p class="description">Over 2 years</p>
      </div>
  </div>
  <div class="quality-icon-text">
      <img src="assets/shipping-icon.svg" alt="shipping-icon">
      <div class="title-description">
          <h3 class="heading-title">Free Shipping</h3>
          <p class="description">Order over 150 $</p>
      </div>
  </div>
  <div class="quality-icon-text">
      <img src="assets/support-icon.svg" alt="support-icon">
      <div class="title-description">
          <h3 class="heading-title">24 / 7 Support</h3>
          <p class="description">Dedicated support</p>
      </div>
  </div>
</section>