:root {

  --clr-primary: rgba(184, 142, 47, 1);
  --clr-secondary: #FFF3E3;

  --clr-dot-slides: #D8D8D8;
  --clr-black: #000;
  --clr-black-light: #9F9F9F;
  --clr-grey-darker: #616161;
  --clr-grey: #3A3A3A;
  --clr-white-dark: #F4F5F7;
  --clr-white: #fff;

  --clr-new-label: #2EC1AC;
  --clr-discount-label: #E97171;
}